.navbar {
    background-size: cover;
    background-color: #D2691E;
}

.text-center {
  margin-left: 30%;
  color: white;
  font-family: 'Balsamiq Sans', cursive;
}

  .nav {
    height: 25px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 22px;
    font-weight: bolder;
    color: white;
    font-family: 'Balsamiq Sans', cursive;
    display: flex;
  }

  .text-center {
    margin-left: 30%;
  }