.navbar {
    background-size: cover;
    background-color: grey;
}

.text-center {
  margin-left: 30%;
  color: white;
}

  .nav {
    height: 27px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 25px;
    font-weight: bolder;
    color: white;
  }

  .text-center {
    margin-left: 30%;
  }