.picture-img {
    height: 250px;
    width: 250px;
    padding: 1px;
    border: 3px solid grey;
    background-size: cover;
    position: relative;
  }
  
  Image {
    height: 225px;
    width: 225px;
  }
  
  .pictureImg {
    height: 240px;
    width: 240px;
    margin: 2px 2px 2px 2px;
  }